@import '../../variables/colors';

@mixin link-animation($top: 150%) {
  position: relative;

  &:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: $top;
    left: 0;
    transition: all 0.5s;
  }

  &:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ECC8AF;
    position: absolute;
    top: $top;
    right: 0;
    transition: all 0.5s;
  }

  &:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  &:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }
}

a {
  color: $color__text-link;
  text-decoration: none;
  font-family: 'Playfair Display', serif;

  &:visited {
    color: $color__text-link;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__text-link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
