<div id="skills-section-page" class="skills-section">
  <div class="memoji-section">
    <img src="../../../../../assets/uploads/skills-memoji.png" alt="Portfolio: Skills Memoji">
  </div>
  <div class="tech-skills-blocks-section">
    <div class="frontend-block lighter-skill-block">
      <h5>Frontend:</h5>
      <p>JavaScript, Angular, CSS, Sass, BootStrap</p>
    </div>
    <div class="backend-block darker-skill-block">
      <h5>Backend:</h5>
      <p>PHP, MongoDB, Node JS, Express JS, REST API, JSON</p>
    </div>
    <div class="other-tools-block lighter-skill-block">
      <h5>Other Tools:</h5>
      <p>Git, GitHub, WordPress, TypeScript, Heroku, </p>
    </div>
    <div class="learning-block darker-skill-block">
      <h5>Currently learning:</h5>
      <p>SQL, Figma</p>
    </div>
  </div>
</div>
