@import '../../../../../styles';

// Desktop and Wide Screen Responsiveness
.skills-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 50px;
}
#skills-section-page {
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  width: 100%;
  height: auto;

  .memoji-section{
    display: flex;
    justify-content: flex-start;
    object-fit: cover;
    width: 100%;
    flex-basis: 60%;
  }
  .tech-skills-blocks-section {
    display: flex;
    justify-content: start;
    flex-shrink: 25%;
    flex-flow: column nowrap;
    gap: 2rem;

    .frontend-block, .other-tools-block {
      background: $color__background-skills_light;
      max-width: 500px;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      border: 1px solid $color__border-skills-newyorkpink;
      border-radius: 30px;
    }

    .backend-block, .learning-block {
      background: $color__background-skills_dark;
     max-width: 500px;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      border: 1px solid $color__border-skills-blackcoral;
      border-radius: 30px;

      h5, p {
        color: $color__text-main-third;
      }
    }

    .lighter-skill-block {
      filter: drop-shadow(10px 10px 9px rgba(206, 121, 107, 0.25));
    }

    .darker-skill-block {
      filter: drop-shadow(10px 10px 9px rgba(73, 88, 103, 0.25));
    }
  }
}
