@import '../../../../../styles.scss';

// Desktop and wide screens
#projects-section-page{
  max-width: 1200px;
  margin: 50px auto 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .project-blocks-section {
    display: flex;
    flex-wrap: row nowrap;
    gap: 3.5rem;
    padding: 30px 20px;

    .project-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 7px 4px 4px 6px rgba(73, 88, 103, 0.25), 15px 6px 4px 6px rgba(193, 140, 93, 0.25), 20px 10px 4px 6px rgba(206, 121, 107, 0.25);
      border-radius: 50px 0px;
      padding: 30px 23px;
      width: 80%;
      animation-delay: -1s;
      animation-duration: 6s;
      animation-fill-mode: none;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      &:hover {
        animation-name: bounce;
        cursor: pointer;
      }

      .title-section{
        display: flex;
        justify-content: center;
        h5 {
          text-align: center;
        }
      }
      .image-section {
        display: flex;
        align-self: center;
      }
      .description {
        padding: 25px 0 10px;
        display: flex;
        justify-content: center;
        p {
          line-height: 110%;
          font-size: 20px;
          max-width: 80%;
        }
      }
      .technologies {
        display: flex;
        justify-content: center;
        padding: 15px 0 20px;
        p {
          font-size: 20px;
          line-height: 110%;
          font-weight: 700;
        }
      }
      .demo-section {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 1rem;
      }
    }
  }
  .my-image-section {
    display: flex;
    align-self: center;
    z-index: 2;
  }
  .portfolio-detail-section {
    max-width: 700px;
    width: 100%;
    height: 200px;
    background:rgba(206, 121, 107, 0.4);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 50px 0;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
    padding: 20px 30px;

    .links-section-container {
      display: flex;
      justify-content: center;
      margin: 5px 0;

      .link-section {

      }
    }
  }
}


// Mobile Screens
@media (max-width: $size__standard-mobile){
  #projects-section-page {
   padding: 0 10px;

   .project-blocks-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-block {
      max-width: 73%;
      .description{
        p {
       font-size: 16px;
        }
      }
      .technologies {
        p {
          font-size: 16px;
        }
      }
      .demo-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
    }
//  certain blocks are temporarily hidden as the data perceived are static.
    .hide-second-block, .hide-third-block {
      display: none;
    }
   }
   .my-image-section {
    width: 90%;
   }
   .portfolio-detail-section {
      width: 90%;
      top: -25px;
   }
  }
}


@keyframes bounce {
  0%, 100%, 20%, 50%, 70% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(-45px);
  }
}
