@import '../../../../../styles';

// Desktop and Wide Screen Responsiveness
.skills-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
#skills-section-page {
  max-width: 1200px;
  margin: 20px auto 60px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  width: 100%;
  height: auto;

  .memoji-section{
    display: flex;
    justify-content: flex-start;
    object-fit: cover;
    width: 100%;
    flex-basis: 60%;

    img {
      max-width: 90%;
    }
  }

  .tech-skills-blocks-section {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 25%;
    flex-flow: column nowrap;
    gap: 2rem;

    .frontend-block, .other-tools-block {
      max-width: 500px;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .backend-block, .learning-block {
      max-width: 500px;
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h5, p {
        color: $color__text-main-third;
      }
    }

    .lighter-skill-block {
      background: $color__background-skills_light;
      filter: drop-shadow(10px 10px 9px rgba(206, 121, 107, 0.25));
      border: 1px solid $color__border-skills-newyorkpink;
      border-radius: 30px;
      // animation-duration: 5s;
      // animation-timing-function: ease-out;
      // animation-fill-mode: none;

      &:hover {
        background: rgb(236,200,175);
        background: radial-gradient(circle, rgba(236,200,175,0.36738445378151263) 26%, rgba(231,173,153,1) 73%, rgba(73,88,103,1) 100%);
        transition: all ease-in-out 1s;
      scale: 1.25;

      }
    }

    .darker-skill-block {
      background: $color__background-skills_dark;
      filter: drop-shadow(10px 10px 9px rgba(73, 88, 103, 0.25));
      border: 1px solid $color__border-skills-blackcoral;
      border-radius: 30px;

      &:hover {
        border: 1px solid $color__border-skills-newyorkpink;
        background: rgb(73,88,103);
        background: radial-gradient(circle, rgba(73,88,103,1) 26%, rgba(231,173,153,1) 83%, rgba(236,200,175,0.36738445378151263) 100%);
        transition: all ease-in-out 1s;
        scale: 1.25;
      }
    }
  }
}


// Mobile: Max screen size- 991.98px

@media (max-width: $size__standard-mobile) {
  .skills-title-section {
    margin-bottom: 20px;
  }

  #skills-section-page {
    padding: 0 30px;
    flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    gap: 0.5rem;

    .memoji-section{
      justify-content: center;
      img {
        max-width: 80%;
      }
    }
    .tech-skills-blocks-section {
      gap: 1.25rem;

      .frontend-block, .other-tools-block, .backend-block, .learning-block {
        padding: 15px 25px;
        align-self: center;
        width: 80%;
      }
    }
  }
}


@keyframes hoverChange {

  100% {
    background: rgb(236,200,175);
background: radial-gradient(circle, rgba(236,200,175,0.36738445378151263) 26%, rgba(231,173,153,1) 73%, rgba(73,88,103,1) 100%);
  }
}
