<div class="skills-title-section">
    <h3 class="skills-title">Skills</h3>
</div>
<div id="skills-section-page" class="skills-section">
  <div class="memoji-section">
    <img [src]=memoji.source [alt]=memoji.alt>
  </div>
  <div class="tech-skills-blocks-section">
    <div class="frontend-block lighter-skill-block">
      <h5>Frontend:</h5>
      <p> {{ frontend }} </p>
    </div>
    <div class="backend-block darker-skill-block">
      <h5>Backend:</h5>
      <p> {{ backend }} </p>
    </div>
    <div class="other-tools-block lighter-skill-block">
      <h5>Other Tools:</h5>
      <p> {{ otherSkills }} </p>
    </div>
    <div class="learning-block darker-skill-block">
      <h5>Currently learning:</h5>
      <p> {{ currentlyLearning }} </p>
    </div>
  </div>
</div>
