<div id="about-me-page" class="about-me-section">
  <div class="about-me-title-section">
    <h3 class="about-me-title">About Me</h3>
  </div>
  <div class="id-section">
    <img src="../../../../../assets/uploads/aboutme-id.png" alt="Portfolio: Gichelle's ID">
  </div>
  <section class="first-body-section">
    <p>Gichelle is  an independent,  goal focused individual  who is always interested in challenges. She has always been curious about different technologies, and  her curiosity leads her to software development. </p>
    <br>
     <p>Gichelle specializes in full stack development and her strongest programming languages (so far) are JavaScript and PHP.  Gichelle is expert in creating mobile-friendly web applications. She is knowledgeable in creating APIs, databases, web designing, and deployment.</p>
    <br>
      <p>
      Aside from software development, Gichelle is fluent in computer system and troubleshooting.
      </p>
  </section>
  <section class="second-body-section">
    <p>5 Fun Facts: </p>
    <br>
    <div class="fun-fact-lists-section">
      <ul>
        <li> I do love cats, but I cannot own one </li>
        <li> I love road trips, especially if I am the one driving </li>
        <li> Going to beaches is always a must go whenever I travel </li>
        <li> I enjoy playing board games and my favorite is Scrabble </li>
        <li> Cooking has a special place in my heart </li>
      </ul>
    </div>
  </section>
  <div class="view-resume-section">
    <button (click)="openModal()">View Resume</button>
  </div>
  <div>

  <div class="images-section">
  <div class="garfield-image-section">
    <img src="../../../../../assets/uploads/garfield.png" alt="">
  </div>
  <div class="travel-image-section">
    <img src="../../../../../assets/uploads/travel.png" alt="">
  </div>
</div>
