@import '../../../../../styles';

// Desktop responsiveness

#about-me-page {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  border: 3px solid $color__border-about-section;
  background: rgb(236,200,175);
  background: linear-gradient(176deg, rgba(236,200,175,0.36738445378151263) 17%, rgba(231,173,153,1) 52%, rgba(45,228,254,1) 100%);  -webkit-backdrop-filter: blur( 18px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 20px );
  border-radius: 100px 10px;


  .about-me-title {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
  }

  .id-section {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .first-body-section, .second-body-section {
    margin: 20px 100px;
  }

  .second-body-section  ul {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: $color__text-main;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

  .view-resume-section {
    margin: 10px auto 40px;

    button {
      max-width: 450px;
      margin: auto;
      padding: 15px 60px;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      color: $color__button-link;

      &:hover, &:focus {
        color: $color__button-link-hover;
      }
    }
  }
  .images-section {
    display: flex;
    justify-content:space-between;

    .garfield-image-section {
      position: relative;
      z-index: 2;
      margin-top: -150px;
      left: -50px;

      img {
      width: 220px;
      }
    }
    .travel-image-section {
      position: relative;
      z-index: 2;
      margin-top: -212px;
      right: -100px;
      }
    }
  }

// Mobile Responsiveness

@media (max-width: $size__standard-mobile) {
  #about-me-page {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 18px;

    .first-body-section, .second-body-section {
      margin-left: 20px;
      margin-right: 20px;
    }

    .second-body-section  ul {
      margin-left: 1.5em;
      li {
        font-size: 18px;
      }
    }
    .view-resume-section {
      button {
        font-size: 20px;

      }
    }
    .images-section {
      justify-content: center;
      align-items: center;

      .garfield-image-section {
        margin-top: 30px;
        padding-left: 17%;

        img{
          text-align: center;
        }

      }
      .travel-image-section {
        display:none;
        }
      }
  }
}
