@import '../../../../../styles';

:root {
  --angle: 45deg;
  --opacity: 0.5;
}
// Desktop responsiveness

#about-me-page {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 30px;
  border-radius: 100px 10px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  border-top-left-radius: 150px 150px;
  --border-size: 0.3rem;
  border: var(--border-size) solid transparent;
  background: rgba( 255, 255, 255, 0.1 );
  background: linear-gradient(176deg, rgba(243, 243, 243, 0.367) , rgba(231,173,153,1) 52%, rgba(45,228,254,1) 100%),
  conic-gradient(
    from var(--angle),
    #CF9490 0deg 90deg,
    #D3B970 90deg 180deg,
    #92ccad 180deg 270deg,
    #2DE4FE 270deg 360deg
  )
  ;
  -webkit-backdrop-filter: blur( 18px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 20px );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: rotate 12s linear infinite, opacityChange 6s infinite alternate;


  .about-me-title {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
  }

  .id-section {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .first-body-section, .second-body-section {
    margin: 20px 100px;
  }

  .second-body-section  ul {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: $color__text-main;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

  .view-resume-section {
    margin: 10px auto 40px;

    button {
      max-width: 450px;
      margin: auto;
      padding: 15px 60px;
      font-family: 'Playfair Display', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      color: $color__button-link;

      &:hover, &:focus {
        color: $color__button-link-hover;
      }
    }
  }
  .images-section {
    display: flex;
    justify-content:space-between;

    .garfield-image-section {
      position: relative;
      z-index: 2;
      margin-top: -150px;
      left: -50px;

      img {
      width: 220px;
      }
    }
    .travel-image-section {
      position: relative;
      z-index: 2;
      margin-top: -212px;
      right: -100px;
      }
    }
  }

// Mobile Responsiveness

@media (max-width: $size__standard-mobile) {
  #about-me-page {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 18px;

    .first-body-section, .second-body-section {
      margin-left: 20px;
      margin-right: 20px;
    }

    .second-body-section  ul {
      margin-left: 1.5em;
      li {
        font-size: 18px;
      }
    }
    .view-resume-section {
      button {
        font-size: 20px;

      }
    }
    .images-section {
      justify-content: center;
      align-items: center;

      .garfield-image-section {
        margin-top: 30px;
        padding-left: 17%;

        img{
          text-align: center;
        }

      }
      .travel-image-section {
        display:none;
        }
      }
  }
}


@supports (background: paint(houdini)){
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}

@keyframes opacityChange {
  to {
    --opacity: 1;
  }
}

@keyframes rotate
 {
  to {
    --angle: 360deg;
  }
 }
