<div class="-header-section-banner">
  <header id="header-section">
    <div class="first-phrase-section">
      <p>Hello! I am</p>
    </div>
    <div class="header-section-memoji">
      <img [src]=profileProps.src [alt]=profileProps.alt class="memoji-block">
    </div>
    <div class="name-title-section">
      <h1> {{headerContents.name}} </h1>
    </div>
    <div class="job-title-section">
      <h2> {{headerContents.job}} </h2>
    </div>
    <div class="contact-links-section">
      <div class="get-in-touch-section">
        <a [routerLink]="['../contact']"> Let's get in touch</a>
      </div>
      <div class="social-media-icons-section">
        <div class="linkedin-icon">
          <a href="https://www.linkedin.com/in/gichelle-amon/" [target]=socialMediaAnchorProps.target [rel]=socialMediaAnchorProps.rel> <img src="../../../../../assets/uploads/LinkedIn.png" alt="Portfolio-LinkedIn"></a>
        </div>
        <div class="github-icon">
          <a href="https://github.com/ChelleAmon" [target]=socialMediaAnchorProps.target [rel]=socialMediaAnchorProps.rel> <img src="../../../../../assets/uploads/GitHub.png" alt="Portfolio-Github"></a>
        </div>
      </div>
    </div>
  </header>


</div>
