@import '../../../../../styles';

@mixin displayLayout($justify-content, $align-item){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
}

// Desktop and wide screen

#header-section {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 0px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1.10fr 1fr;
  grid-template-rows: auto 60px 60px 120px;

  .header-section-memoji {
    grid-row-end: span 4;
    width: 100%;
    height: 100%;

    .memoji-block {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  .first-phrase-section {
    @include displayLayout(flex-start, flex-end);

    p {
      margin-left: 20px;
      padding-left: 30px;
    }
  }

  .name-title-section {
    @include displayLayout(flex-start, center);

    h1 {
      margin-left: 20px;
      padding-left: 30px;
      line-height: 170%;
      text-shadow: 0px 4px 4px rgba(73, 88, 103, 0.25);
    }
  }

  .job-title-section {
    @include displayLayout(flex-start, center);

    h2 {
      margin-left: 20px;
      padding-left: 30px;
      line-height: 170%;
      color: $color__text-main-second;
      text-shadow: 0px 6px 4px rgba(193, 140, 93, 0.25);
    }
  }

  .contact-links-section {
    @include displayLayout(flex-start, center);
    flex-direction: row;
    gap: 1rem;
    padding-left: 50px;

    .get-in-touch-section {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;

      a {
        color: #495867;
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
        @include link-animation(150%, $color__oldRose, $color__blackCoral);

        &:hover, &:focus {
          color: $color__white-primary;
          text-shadow: -1px 1px 0 $color__oldRose,
                      1px 1px 0 $color__oldRose,
                      1px -1px 0 $color__oldRose,
                      -1px -1px 0 $color__oldRose;
        }

        &:active{
          color: $color__blackCoral;
        }
      }
    }
    .social-media-icons-section {
      @include displayLayout(center, center);
      flex-direction: row;
      gap: 0.75rem;

        .sm-icon{
          width: 100%;

          &:hover, &:focus {
            transform: scale(1.25);
            transition: all 0.3s ease;
          }

          &:active {
            transform: scale(1);
          }
        }
    }
  }
}

// Mobile Screens : 991.98px and below
#header-section {
  @media (max-width: $size__standard-mobile){
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    line-height: 100%;


    .header-section-memoji {
      width: 300px;
      height: 250px;
      order: 1;
    }

    .first-phrase-section {
      order: 2;
      margin-top: 20px;
      p {
       padding: 0;
       margin-left: 0;
      }
    }

    .name-title-section {
      justify-self: start;
      order: 3;
      h1 {
        padding-left: 0;
        margin-left: 0;
      }
    }

  .job-title-section {
    order: 4;

    h2 {
      padding-left: 0;
      margin-left: 0;
      line-height: 100%;
      text-align: center;
    }
  }
  .contact-links-section {
    padding-left: 0;
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    order: 5;

    .get-in-touch-section {
      font-size: 18px;
      line-height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;

      a {
        @include link-animation(125%, $color__oldRose, $color__blackCoral )
      }
    }

    .social-media-icons-section {
      flex-direction: row;
      width: 75%;
    }
  }
  }
}

