@import '../../../../../styles';

@mixin displayLayout($justify-content, $align-item){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: $justify-content;
      -ms-flex-pack: $justify-content;
          justify-content: $justify-content;
  -webkit-box-align: $align-item;
      -ms-flex-align: $align-item;
          align-items: $align-item;
}

// Desktop and wide screen

#header-section {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto 0px;
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.10fr 0.75rem 1fr;
  grid-template-columns: 1.10fr 1fr;
  -ms-grid-rows: auto 0.75rem 60px 0.75rem 60px 0.75rem 120px;
  grid-template-rows: auto 60px 60px 120px;

  .header-section-memoji {
    -ms-grid-row-span: 4;
    grid-row-end: span 4;
    width: 100%;
    height: 100%;

    .memoji-block {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  .first-phrase-section {
    @include displayLayout(flex-start, flex-end);

    p {
      margin-left: 20px;
      padding-left: 30px;
    }
  }

  .name-title-section {
    @include displayLayout(flex-start, center);

    h1 {
      margin-left: 20px;
      padding-left: 30px;
      line-height: 170%;
      text-shadow: 0px 4px 4px rgba(73, 88, 103, 0.25);
    }
  }

  .job-title-section {
    @include displayLayout(flex-start, center);

    h2 {
      margin-left: 20px;
      padding-left: 30px;
      line-height: 170%;
      color: $color__text-main-second;
      text-shadow: 0px 6px 4px rgba(193, 140, 93, 0.25);
    }
  }

  .contact-links-section {
    @include displayLayout(flex-start, center);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    padding-left: 50px;

    .get-in-touch-section {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;

      a {
        color: #495867;
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
        @include link-animation(150%, $color__oldRose, $color__blackCoral);

        &:hover, &:focus {
          color: $color__white-primary;
          text-shadow: -1px 1px 0 $color__oldRose,
                      1px 1px 0 $color__oldRose,
                      1px -1px 0 $color__oldRose,
                      -1px -1px 0 $color__oldRose;
        }

        &:active{
          color: $color__blackCoral;
        }
      }
    }
    .social-media-icons-section {
      @include displayLayout(center, center);
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      gap: 0.75rem;

        .sm-icon{
          width: 100%;

          &:hover, &:focus {
            -webkit-transform: scale(1.25);
                -ms-transform: scale(1.25);
                    transform: scale(1.25);
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }

          &:active {
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1);
          }
        }
    }
  }
}

// // Desktop and wide screen

// #header-section > *:nth-child(1) {
//   -ms-grid-row: 1;
//   grid-row: 1;
//   -ms-grid-column: 1;
//   grid-column: 1;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(2) {
//   -ms-grid-row: 1;
//   grid-row: 1;
//   -ms-grid-column: 3;
//   grid-column: 3;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(3) {
//   -ms-grid-row: 3;
//   grid-row: 3;
//   -ms-grid-column: 1;
//   grid-column: 1;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(4) {
//   -ms-grid-row: 3;
//   grid-row: 3;
//   -ms-grid-column: 3;
//   grid-column: 3;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(5) {
//   -ms-grid-row: 5;
//   grid-row: 5;
//   -ms-grid-column: 1;
//   grid-column: 1;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(6) {
//   -ms-grid-row: 5;
//   grid-row: 5;
//   -ms-grid-column: 3;
//   grid-column: 3;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(7) {
//   -ms-grid-row: 7;
//   grid-row: 7;
//   -ms-grid-column: 1;
//   grid-column: 1;
// }

// // Desktop and wide screen

// #header-section > *:nth-child(8) {
//   -ms-grid-row: 7;
//   grid-row: 7;
//   -ms-grid-column: 3;
//   grid-column: 3;
// }

// Mobile Screens : 991.98px and below
#header-section {
  @media (max-width: $size__standard-mobile){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 100%;


    .header-section-memoji {
      width: 300px;
      height: 250px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }

    .first-phrase-section {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-top: 20px;
      p {
       padding: 0;
       margin-left: 0;
      }
    }

    .name-title-section {
      -ms-grid-column-align: start;
          justify-self: start;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      h1 {
        padding-left: 0;
        margin-left: 0;
      }
    }

  .job-title-section {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;

    h2 {
      padding-left: 0;
      margin-left: 0;
      line-height: 100%;
      text-align: center;
    }
  }
  .contact-links-section {
    padding-left: 0;
    margin-top: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;

    .get-in-touch-section {
      font-size: 18px;
      line-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;

      a {
        @include link-animation(125%, $color__oldRose, $color__blackCoral )
      }
    }

    .social-media-icons-section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 75%;
    }
  }
  }
}

