<div id="contact-form-section-page">
    <div class="contact-title-section">
      <h1>Let us get in touch!</h1>
    </div>
    <div class="form-body-section" [formGroup]="contactForm" >
      <div class="email-address-section">
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Enter your email address" formControlName="from">
      </div>
      <div class="email-body-section">
        <label for="message">Message: </label>
        <textarea name="message" id="" cols="18" rows="15" placeholder="Enter your message here" formControlName="html"></textarea>
      </div>
      <div class="call-of-action-section">
        <div class="send-button-block">
          <button class="send-button button_persian-orange" type="submit" (click)="sendEmail()">Send</button>
        </div>
        <div class="reset-button-block">
          <button class="reset-button button_black-coral" type="reset" (click)="resetEmail()">Reset</button>
        </div>
      </div>
    </div>
</div>
<div [ngStyle]="isSent == true ? displaySuccessTemplate() : hideTemplate()" >Sent Successfully! Talk to you soon </div>
<div [ngStyle]="hasError == true ? displayErrorTemplate() : hideTemplate()" >Sent Failed! Check the required fields and try again </div>
<div class="contact-image-section">
  <img [src]="contact_me_image" alt="">
</div>

