$color__background-body: #ECC8AF;
$color__background-body-two: #E7AD99;
$color__navigation-body: #CE796B;
$color__background-button-persianOrange: #C18C5D;
$color__background-button-blackCoral: #495867;
$color__background-button-hover: #FFFFFF;


$color__text-main: #495867;
$color__text-input: #000;
$color__text-link: #495867;
$color__text-link-hover: #C18C5D;
$color__button-link: #FFFFFF;
$color__button-link-hover: #495867;

$color__border-about-section: #C18C5D;
$color__border-button-persianOrange: #C18C5D;
$color__border-button-blackCoral: #495867;

