<div id="contact-form-section-page">
    <div class="contact-title-section">
      <h1>Let us get in touch!</h1>
    </div>
    <div class="form-body-section">
      <div class="email-address-section">
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Enter your email address">
      </div>
      <div class="email-body-section">
        <label for="message">Message: </label>
        <textarea name="message" id="" cols="18" rows="15" placeholder="Enter your message here"></textarea>
      </div>
      <div class="call-of-action-section">
        <div class="send-button-block">
          <button class="send-button button_persian-orange">Send</button>
        </div>
        <div class="reset-button-block">
          <button class="reset-button button_black-coral">Reset</button>
        </div>
      </div>
    </div>
</div>
<div class="contact-image-section">
  <img src="../../../../../assets/uploads//contact-me.png" alt="">
</div>
