<div id="contact-form-section-page">
  <div class="contact-form-section">
    <div class="contact-title-section">
      <h1>Let us get in touch!</h1>
    </div>
    <div class="form-body-section">
      <div class="email-address-section">
        <label for="email">Email Address: </label>
        <input type="email" name="email" placeholder="Enter your email address" size="30">
      </div>
      <div class="email-body-section">
        <label for="message">Message: </label>
        <textarea name="message" id="" cols="20" rows="20" placeholder="Enter your message here"></textarea>
      </div>
      <div class="call-of-action-section">
        <div class="send-button-block">
          <button class="send-button">Send</button>
        </div>
        <br> 
        <div class="reset-button-block">
          <button class="reset-button">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
