@import '../../variables/structure';
@import '../../variables/colors';

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
	font-style: normal;
	font-weight: 300;
	line-height: 110%;
	font-family: 'Source Sans Pro', 'Open Sans';
}


h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  color: $color__text-main;

  @media (max-width: $size__standard-mobile) {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: $color__text-main;

  @media (max-width: $size__standard-mobile) {
    font-size: 24px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: $color__text-main;
  font-family: 'Playfair Display', serif;

  @media (max-width: $size__standard-mobile) {
    font-size: 22px;
  }
}

h5 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: $color__text-main;

  @media (max-width: $size__standard-mobile) {
    font-size: 20px;
  }
}


