<div id="projects-section-page">
  <div class="projects-title-section">
    <h3 class="projects-title">Projects</h3>
  </div>
  <div class="project-blocks-section">

    <!-- Project Blocks are static for now : START -->
    <div class="project-block">
      <section class="title-section">
        <h5 class="title">The Elementals</h5>
      </section>
      <section class="image-section">
        <img src="../../../../../assets/uploads/rockpaperscissors.jpg" alt="The Elementals-Rock Paper Scissors" width="335" height="215">
      </section>
      <section class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
      <section class="technologies">
        <p>Technologies: MEAN Stack, CSS, Heroku </p>
      </section>
      <section class="demo-section">
        <button class="button_persian-orange">Live Demo</button>
        <button class="button_black-coral">Source Code</button>
      </section>
    </div>

    <div class="project-block">
      <section class="title-section">
        <h5 class="title">The Elementals</h5>
      </section>
      <section class="image-section">
        <img src="../../../../../assets/uploads/rockpaperscissors.jpg" alt="The Elementals-Rock Paper Scissors" width="335" height="215">
      </section>
      <section class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
      <section class="technologies">
        <p>Technologies: MEAN Stack, CSS, Heroku </p>
      </section>
      <section class="demo-section">
        <button class="button_persian-orange">Live Demo</button>
        <button class="button_black-coral">Source Code</button>
      </section>
    </div>

    <div class="project-block">
      <section class="title-section">
        <h5 class="title">The Elementals</h5>
      </section>
      <section class="image-section">
        <img src="../../../../../assets/uploads/rockpaperscissors.jpg" alt="The Elementals-Rock Paper Scissors" width="335" height="215">
      </section>
      <section class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
      <section class="technologies">
        <p>Technologies: MEAN Stack, CSS, Heroku </p>
      </section>
      <section class="demo-section">
        <button class="button_persian-orange">Live Demo</button>
        <button class="button_black-coral">Source Code</button>
      </section>
    </div>

      <!-- Project Blocks are static for now : END -->
  </div>
  <div class="my-image-section">
    <img src="../../../../../assets/uploads/projects-id.png" alt="Project Image ID">
  </div>
</div>
