<!-- Desktop Version: Start-->
<div class="navbar-desktop">
  <nav class="navigation-section">
    <ng-container *ngFor="let navItem of navigationItems">
      <a [routerLink]="navItem | lowercase" class="navigation-section-link">{{ navItem }}</a>
    </ng-container>
  </nav>
</div>

<!-- Desktop version: End -->

<!-- Mobile version: Start -->
<div class="navbar-mobile">
  <nav class="navigation-section">
    <div class="burger-menu-img-section" (click)="hamburgerMenuChangeState(true)" [ngStyle]="{ 'display' : clicked == true ?  'none' : 'block'}">
      <img [src]="hamburger_menu_open">
    </div>
    <div class="burger-menu-block-section" (click)="hamburgerMenuChangeState(false)" [ngStyle]="{ 'display' : clicked == false ?  'none' : 'block'}">
      <div class="hamburger-menu-close">
        <img [src]="hamburger_menu_close">
      </div>
      <div class="links-container">
        <ng-container *ngFor="let navItem of navigationItems">
          <a [routerLink]="navItem | lowercase" class="navigation-section-link">{{ navItem }}</a>
        </ng-container>
      </div>
    </div>
  </nav>
</div>

<!-- Mobile Version: End -->


