@import '../../../styles';

@mixin navBackground($padding, $gap){
  background: $color__navigation-body;
  padding: $padding;
  display: flex;
  gap: $gap;
}

@mixin navLinks($padding, $fontsize){
  display: flex;
  padding: $padding;
  font-size: $fontsize;
  font-weight: 500;
}


.navbar-desktop {
  display: block;

  .navigation-section {
    @include navBackground(25px 40px, 1.5rem);
    flex-direction: row;
    justify-content: center;
    align-items:center;

    &-link {
      @include navLinks(0 20px, 24px);
    }
  }
}

.navbar-mobile{
  display: none;
}


@media (max-width: $size__standard-mobile) {
  .navbar-desktop{
    display: none;
  }

  .navbar-mobile{
    display: block;

    .navigation-section {
      @include navBackground(25px 40px, 2rem);
      flex-direction: column;
      justify-content: center;
      align-items:center;
    }
  }

  .hamburger-menu-close{
    display: flex;
    justify-content: center;
  }

  .links-container {
    a {
      @include navLinks(50px 20px, 24px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
