@import '../../../styles';

@mixin navBackground($padding, $gap){
  background: $color__navigation-body;
  padding: $padding;
  display: flex;
  gap: $gap;
}

@mixin navLinks($padding, $fontsize){
  display: flex;
  padding: $padding;
  font-size: $fontsize;
  font-weight: 500;
}

.navbar-desktop .navigation-section-link {
  position: relative;

  &:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 150%;
    left: 0;
    transition: all 0.5s;
  }

  &:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ECC8AF;
    position: absolute;
    top: 150%;
    right: 0;
    transition: all 0.5s;
  }

  &:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  &:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }
}

.navbar-mobile .navigation-section-link {
  position: relative;

  &:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 65%;
    left: 0;
    transition: all 0.5s;
  }

  &:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #ECC8AF;
    position: absolute;
    top: 65%;
    right: 0;
    transition: all 0.5s;
  }

  &:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  &:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }
}

.navbar-desktop {
  display: block;

  .navigation-section {
    @include navBackground(25px 40px, 1.5rem);
    flex-direction: row;
    justify-content: center;
    align-items:center;

    &-link {
      @include navLinks(0 20px, 24px);
    }
  }
}

.navbar-mobile{
  display: none;
}


@media (max-width: $size__standard-mobile) {
  .navbar-desktop{
    display: none;
  }

  .navbar-mobile{
    display: block;

    .navigation-section {
      @include navBackground(25px 40px, 2rem);
      flex-direction: column;
      justify-content: center;
      align-items:center;
    }
  }

  .hamburger-menu-close{
    display: flex;
    justify-content: center;
  }

  .links-container {
    a {
      @include navLinks(50px 20px, 24px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
